[submodule "manager/src/lib"]
	path = manager/src/lib
	url = git@github.com:etouraille/utils.git
[submodule "lib"]
	path = app/src/lib
	url = git@github.com:etouraille/utils.git
[submodule "cdn"]
	path = cdn
	url = git@github.com:etouraille/cdn.git
[submodule "docker"]
	path = docker
	url = git@github.com:etouraille/docker.git
