<div class="container">
  <div class="row">
    <div class="p-3 col-6">
      <form [formGroup]="addObjectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nom</label>
          <input id="name" class="form-control" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="description">description</label>
          <textarea id="description" class="form-control" formControlName="description" ></textarea>
        </div>
        <div class="form-group">
          <label>Prix</label>
          <input id="price" class="form-control" formControlName="price" />
        </div>
        <div class="form-group" >
            <label>Images</label>
          <div formArrayName="pictures">
            <app-file-upload *ngFor="let picture of pictures.controls; let i = index;" [formControlName]="i"></app-file-upload>
          </div>
          <button class="btn btn-secondary" (click)="addPicture()">+</button>
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="owner">
            <option *ngFor="let user of users" value="{{user.id}}">{{user.email}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="form-control btn btn-secondary">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
