<div class="container">
  <form [formGroup]="subscribeForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label>email</label>
      <input class="form-control" formControlName="email" />
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control" formControlName="password" />
    </div>
    <div class="form-group">
      <label>confirm password</label>
      <input class="form-control" formControlName="confirmPassword" />
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" formControlName="role">
        <option value="ROLE_USER">Utilisateur</option>
        <option value="ROLE_MEMBER">Membre</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
