.card {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-49%, -120%);
  border: 1px solid #cc2255;
  padding : 1em;
}



.btn {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 25%);
  border: 1px solid #cc2255;
  padding : 1em;
  width: 200px;
  background-color: #218BC3;
  color: white;

}
